beautifulsoup4==4.12.3
bs4==0.0.2
chromedriver-autoinstaller==0.6.4
chromedrivermanager==0.0.1
numpy==1.26.4
pandas==2.0.3
pyTelegramBotAPI==4.19.1
python-telegram-bot==13.7
requests==2.32.3
selenium==4.21.0
undetected-chromedriver==3.5.5
psycopg2==2.9.9
peewee==3.17.5
pymongo==4.7.3